<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        background-color: rgb(56, 55, 55);
        text:white;

    }
    a{
        color: aliceblue;
    }
</style>
<body>
    <h1>desde handebards main</h1>
    <div class="container">
        <a href="/home">LISTADO DE ACTIVIDADES</a>
        <br>
        <br>
        <a href="/getTrans">LISTADO DE TRANSACCIONES POSIBLES</a>
        <br>
        <br>
        <a href="/">INICIO</a>
    </div>

    {{{body}}} 
     


    
</body>
</html>